
// blue
$blue-strong: #266996;
$blue-medium: #3074a3;
$blue-light: #3598db;
$blue-light2: #f0fff1;

// other colors
$white: white;
$black: black;
$black_opacity: rgba(0, 0, 0, 0.29);
$purple: #9b58b5;
$orange: #e77e23;
$orange-light: rgba(231.0,126.0,35.0,0.8);
$red: #e84c3d;
$green: #1bbc9b;
$grey: #eeeeee;

// body
$body-color: #fafafa;
$body-color: $red;
